body{
    transition: background 0.369s ease-in-out;
    /* height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
    font-family: sans-serif;

}

h1{
    color: #2d2d2d;
    margin: 0;
    line-height: 0.069;
    text-align: center;
}
p {
    color: #3f3f3f;
    font-size: 1.2em;
    text-align: center;
}
#button{
    background: rgba(180, 14, 14, 0);
    /* background: none; */
    border: 1px solid rgba(180, 14, 14, .69);
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 1.2em;
    color: #3f3f3f;
    transition: all 0.369s ease-in-out;
    text-transform: uppercase;
}
#button:hover{
    background: rgba(180, 14, 14, .069); 
    font-size: 1.69em;
    border: 1px solid rgba(180, 14, 14, 0);
    color: #ffffffb6;
}
/* input box animation styles */
.form{
    width: 50%;
    position: relative;
    height: 69px;
    overflow: hidden;
}

.form input{
    width:100%;
    height: 100%;
    background: rgba(0, 206, 209, 0);
    border-radius: 20px;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid lightblue;
    transform: translateX(-100%);
    transition: transform 0.69s ease-in-out;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 1.0s ease-out;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name{
    transform: translate(-69px, -33px);
    /* transform: translateX(-150px); */
    /* transform: translateZ(); */
    font-size: 14px;
    color: lightblue;
}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after {
    transform: translateX(0%);
}

/* The hero image */
.hero{
    height: 60vh;
    position: relative;
    display: flex;
    /* added the values from "body before, flex-direction: justify-content: and alighn;; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-image {
    position: absolute;
    top: 0;
    left:0;
    /* bottom:0; */
    /* right:0; */
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: url("images/xanthe2020.jpg"); */
    /* Set a specific height */
    /* height: 50%; */

    /* Position and center the image to scale nicely on all screens */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}
.hero-image img{
    width: 100%;
    /* height: 100%; */

}


  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    /* if you lose it, its like layers in ps */
    z-index: 1;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* color: white; */
}




/* pop-up modal HUD */
.hud-container{
    /* absolutely stays on your screen */
    /* dans task for you is to make this toggable */
    position: fixed;
    display: none;
    justify-content: center;
    align-items:center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .hud-timer-box{
    color: white;
    height: 50%;
    width: 50%;
    font-size: 10vw;
    justify-content: center;
    align-content:center;
  }
  .box-overlay{
    width: 69%;
    height: 69%;
    background: black;
  }
  .show{
    display: flex;
  }